.cards{
    width: 100% !important;
    display: flex; 
    justify-content: center;
    align-items: stretch;
    overflow: hidden;
    /* margin: 90px 15px 0; */
    padding-bottom: 20px;
    padding-top: 90px;
}
.steps{
     width: calc(33% - 30px);
     margin: 0 15px;
     display: flex;
     justify-content: center;
     align-items: center;
     flex-direction: column;
     background-color: #004080;
     border-radius: 20px;

}
.txt-s2{
    padding-bottom: 50px;
}
.step_text{
     /* width: calc(33%-30px); */
     margin-bottom: auto;
     padding: 30px 25px;
     text-align: left;
     color: white;
     line-height: normal;
}
.step_text h2{
    position: relative;
    font-size: 25px;
    line-height: normal;
    color: #fff;
    font-family: 'Signika', sans-serif;
    text-align: left;
    margin: 0 0 15px;
    /* padding-left: 20px; */
}
.head_step{
    display: flex;
    flex-direction: row;
}
.step_text p{
    text-align: left;
    color: #fff;
    font-size: 20px;
    letter-spacing: .3px;
    line-height: 30px;
    padding: 0;
    margin: 0;
    font-family: Roboto,sans-serif;
    font-weight: 300;
}
.sideline{
    background-color: #cb8624;
    width: 8px;
    margin: 0 15px 0 0px;
    height: 26px;
    border-radius: 50px;
}
.step_image{
    width: 100%;
}
.step_image img{ 
width: 100%;
height: auto;
border-radius: 20px 20px 0 0;
overflow: hidden;
 } 
@media only screen and (max-width:1024px){
    .head_step h2{
        font-size: 1.375rem;
    }
    .head_step p{
        font-size: 1.125rem;
    }
 }
 @media only screen and (max-width:840px) {
    .cards{
    display: flex;
    flex-direction: column;
    text-align: center;
    /* max-width: 70%;*/
        margin: 0;
        padding: 0;
} 
    .steps{
        width: 100%;
        margin: 0 0 25px;
        text-align: center;
        justify-content: center;

    }
    .step_image{
        width: auto;
    }
    .step_image img{
    width: 100%;   
    border-radius: 0; 
    }
    .step_text h2{
        font-size: 22px;
    }
    }
    @media only screen and (max-width:390px){
        .step_image{
            width: 86%;
        }

    }