.seventh_part{
    background-color: #004080;
    /* width: 100% !important; */

}
.seventh_part_header{
    color: white;
    font-size: 52px;
    font-weight: bold;
    text-align: center;
    padding-top: 50px;
    padding-bottom: 30px;
    letter-spacing: -.01em;
    font-family: 'Signika', sans-serif;


}
.seventh_part_sub{
    color: white;
    text-align: center;
    font-size: 24px;
    font-weight: lighter;
    margin:0 20px ;
}
.stores{
    padding: 40px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    
}
#google{
    width: 120px !important;
    height: 40px;
    padding-right: 30px;
}
#apple{
    width: 110px !important;
    height: 40px;
    padding-right: 20px;
    padding-left: 30px;
}
/* @media only screen and (max-width:970px){
    .seventh_part{
        height: 400px;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
} */
@media only screen and (max-width:840px){
    .seventh_part_header{
        font-size: 32px;
    }
    .seventh_part_sub{
        font-size: 20px;

    }
}